---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import Join from "@components/JoinSection.astro";
---

<Layout title="Tiento">
	<Navbar />
	<main class="flex flex-col justify-center items-center overflow-hidden">
		<Join />
	</main>
	<Footer />
</Layout>

<script src="../../scripts/animations.ts"></script>

<style>
	.head-title {
		font-family: "Fugaz One";
	}
</style>


