---
import { Image } from "astro:assets";
import tientoLogo from "@images/tiento-logo.svg";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
    class="mx-auto w-full mb-10 py-10 px-4 max-w-screen-xl flex justify-center items-center"
>
    <div class="flex w-full justify-between items-center">
        <div class="flex gap-4 justify-center items-center">
            <Image
                class="md:hidden"
                src={tientoLogo}
                height={75}
                width={75}
                alt="logo"
                loading='eager'
            />
            <Image
                class="hidden md:block"
                src={tientoLogo}
                height={100}
                width={100}
                alt="logo"
                loading='eager'
            />
            <div class="head-title">TIENTO</div>
        </div>
        <div class="hidden md:block">
            <ul class="flex gap-6">
                <li>
                    <a href="#about">{t("nav.about")}</a>
                </li>
                <li>
                    <a href="#mission">{t("nav.mission")}</a>
                </li>
                <li>
                    <a href="#vision">{t("nav.vision")}</a>
                </li>
                <li>
                    <a href="#roadmap">{t("nav.roadmap")}</a>
                </li>
            </ul>
        </div>
        <div>
            <a href="/login" class="hover:underline"> {t("shared.getStarted")} </a>
        </div>
    </div>
</header>

<style>
    .head-title {
        font-size: 1.4rem;
        font-family: "Fugaz One";
    }
</style>
