---
import { Image } from "astro:assets";
import tientoLogo from "@images/tiento-logo.svg";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
    class="mx-auto w-full mb-10 py-10 px-4 max-w-screen-xl flex justify-center items-center"
>
    <div class="flex w-full justify-between items-center">
        <div class="flex gap-2 justify-center items-center">
            <Image
                class="md:hidden"
                src={tientoLogo}
                height={75}
                width={75}
                alt="logo"
                loading="eager"
            />
            <Image
                class="hidden md:block"
                src={tientoLogo}
                height={100}
                width={100}
                alt="logo"
                loading="eager"
            />
            <div class="head-title">TIENTO</div>
        </div>
        <div class="hidden md:block">
            <ul class="flex md:gap-x-6 lg:gap-x-10">
                <li>
                    <a href={getRelativeLocaleUrl(lang)}>{t("nav.home")}</a>
                </li>
                <li>
                    <a href={getRelativeLocaleUrl(lang, 'sport-management')}>{t("nav.tsm")}</a>
                </li>
                <li>
                    <a href={getRelativeLocaleUrl(lang, 'project')}>{t("nav.project")}</a>
                </li>
                <li>
                    <a href={getRelativeLocaleUrl(lang, 'community')}>{t("nav.community")}</a>
                </li>
                <li>
                    <a href={getRelativeLocaleUrl(lang, 'about')}>{t("nav.about")}</a>
                </li>
            </ul>
        </div>
        <div class="flex gap-x-2 md:gap-x-8">
            <a href="/login" class="hover:underline">
                {t("shared.getStarted")}
            </a>
            <LanguagePicker />
        </div>
    </div>
</header>

<style>
    .head-title {
        font-size: 1.4rem;
        font-family: "Fugaz One";
    }
</style>
